extends ../layout/private

block title
  title ホーム｜オーダーメイド本棚管理システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='./' aria-current='page') パンくずリスト

block main
  main
    .container-fluid
      .border.pt-5.pb-5.text-center メインコンテンツ
