doctype html
html(lang='ja')
  head
    block meta
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1')
    block title
      title オーダーメイド本棚管理システム（デモ）
    block style
      link(rel='stylesheet' href='/static/css/bootstrap-reboot.min.css')
      link(rel='stylesheet' href='/static/css/bootstrap-grid.min.css')
      link(rel='stylesheet' href='/static/css/bootstrap-utilities.min.css')
      link(rel='stylesheet' href='/static/css/print.css')
  body
    block body
      block main
      block script
        script(src='/static/js/bootstrap.bundle.min.js')
        script(src='/static/js/polyfill.js')
        script(src='/static/js/vue.js')
        script(src='/static/js/app.js')
