extends ./screen

block header
  header
    nav(aria-label='ヘッダー')
      .navbar.navbar-expand.navbar-light.bg-light
        .container-fluid
          a.navbar-brand(href='/private/') オーダーメイド本棚 <br> 管理システム（デモ）
