mixin requirement
  .requirement
    .requirement-header
      .requirement-header-title 仕様書｜オーダーメイド本棚
      .requirement-header-page 1/1 ページ
    .requirement-body
      .requirement-image
        .requirement-image-front
          figure
            .skeleton-image
            figcaption 正面画像
        .requirement-image-side
          figure
            .skeleton-image
            figcaption 側面画像
      .requirement-table
        table
          tbody
            tr
              th W(幅)
              td 90cm
            tr
              th H(高さ)
              td 200cm
            tr
              th D(奥行)
              td 46cm
            tr
              th 棚板の枚数
              td 5枚
            tr
              th 棚板の厚さ
              td 17mm
            tr
              th 棚板の取り付け
              td ビス（固定）
            tr
              th 背面の有無
              td なし
            tr
              th カラー
              td ナチュラル
    .requirement-footer 株式会社ロレムイプサム
