extends ../layout/private

block title
  title ログアウト｜オーダーメイド本棚管理システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../') ホーム
        li.breadcrumb-item
          a(href='./' aria-current='page') ログアウト

block main
  main
    #main
