extends ../layout/private
include ../mixin/product-item

block title
  title ログアウト｜オーダーメイド本棚管理システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../') ホーム
        li.breadcrumb-item
          a(href='./' aria-current='page') ログアウト

block main
  main
    .container-fluid
      h1 ログアウト
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../../') 戻る

      p.mt-3 ログアウトしてもよろしいですか？

      form(role='form')
        .row
          .col
            .d-grid
              a.btn.btn-primary(href='../../../public/iam/signout/finish/') ログアウト
          .col.order-first
            .d-grid
              a.btn.btn-link(href='../../') キャンセル
