extends ../layout/public

block title
  title ログイン｜オーダーメイド本棚管理システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../../') トップ
        li.breadcrumb-item
          a(href='./' aria-current='page') ログイン

block main
  main
    #main
    //- .container-fluid
    //-   h1.mt-3 ログイン
    //-   form(role='form')
    //-     .form-group.mb-3
    //-       label.form-label(for='email') メールアドレス
    //-       input.form-control(type='email' name='email' id='email' aria-required='true')
    //-     .form-group.mb-3
    //-       label.form-label(for='password') パスワード
    //-       .input-group
    //-         input.form-control(type='password' name='password' id='password' aria-required='true')
    //-         button.btn.btn-outline-secondary(type='button' aria-label='パスワードを表示する') 表示
    //-     .d-grid
    //-       a.btn.btn-primary(href='../../../private/') ログイン
