extends ../layout/private
include ../mixin/product-item

block title
  title 見積書発行履歴の削除｜オーダーメイド本棚管理システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../../') ホーム
        li.breadcrumb-item
          a(href='../../') 見積書発行履歴
        li.breadcrumb-item
          a(href='../') 詳細
        li.breadcrumb-item
          a(href='./' aria-current='page') 削除

block main
  main
    #main
