extends ../layout/private
include ../mixin/product-item

block title
  title 注文の詳細｜オーダーメイド本棚管理システム（デモ）

block breadcrumb
  nav.mt-3(aria-label='パンくずリスト')
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='../../') ホーム
        li.breadcrumb-item
          a(href='../') 注文
        li.breadcrumb-item
          a(href='./' aria-current='page') 詳細

block main
  main
    .container-fluid
      h1 注文の詳細
      nav.mt-3(aria-label='メニュー')
        .d-flex.flex-wrap.gap-2
          a.btn.btn-outline-secondary(href='../') 戻る
          a.btn.btn-outline-primary(href='./print/' target='_blank') 仕様書を印刷する
          a.btn.btn-outline-danger(href='./delete/') 削除

      section.mt-3
        h2 目次
        nav(aria-label='目次')
          ul.list-unstyled
            li
              a(href='#order') 注文について
            li
              a(href='#list') 商品の内訳
            li
              a(href='#product1') 商品1の詳細

      section.mt-3(id='order')
        h2 注文について
        dl.mb-0
          dt 注文日時
          dd 2021年5月4日(火) 9時0分0秒

          dt 注文番号
          dd 1111-2222-3333

          dt お名前
          dd ここにお名前が入ります

          dt フリガナ
          dd ここにフリガナが入ります

          dt 会社名
          dd 株式会社ロレムイプサム

          dt 郵便番号
          dd 9402039

          dt 住所
          dd 新潟県長岡市関原南4-3934

          dt 電話番号
          dd 0258945233

          dt メールアドレス
          dd shelf@loremipsum.co.jp

          dt 備考
          dd
            p.mb-0.
              ここにテキストが入ります。<br>
              ここにテキストが入ります。<br>
              ここにテキストが入ります。

          dt お支払い方法
          dd.mb-0 クジレットカード

      section.mt-3(id='list')
        h2 商品の内訳

        table.table
          thead
            tr
              th 品名
              th 単価
              th 数量
              th 金額
          tbody
            tr
              td 商品1
              td 20,000円
              td 1台
              td 20,000円

        dl
          dt 送料
          dd 1,000円

          dt 代引手数料
          dd 500円

          dt 小計金額（税抜）
          dd 21,500円

          dt 消費税（10％）
          dd 2,150円

          dt 合計金額（税込）
          dd 23,650円

          dt 合計数量
          dd 1台

      section.mt-3(id='product1')
        h2 商品1の詳細
        +product-item
